{% extends "layout.html" %}

{% block content %}
{% for post in posts %}
<article class="card p-2 mb-3">
    <div class="card-body">
        <div class="article-metadata">
            <a href="#" class="me-2 link link-success">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted }}</small>
        </div>
        <h2> <a class="card-title link link-info"> {{ post.title }}</a></h2>
        <p class="card-text">{{post.content}}</p>

    </div>
</article>
{% endfor %}
{% endblock content %}